body {
	font-family: Arial, "Helvetica New", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	background-image: url(/Assets/Images/vintage-concrete.png);
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	height: 100%;
}


.wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: 0 auto -105px;
}

footer,
push {
	height: 105px;
}

#logo:hover,
input[type=submit]:hover {
	background: #5e7f7e;
}

nav a:hover {
	color: #5e7f7e;
}

.social:hover {
	cursor: pointer;
	opacity: 0.8;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1,
h2,
h3,
p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}
